.contact1{
    background-color: brown;
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.contact2{
    background-color: red;
    color: white;
    padding-left: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}